<section class="ar-header-hero">
    <div class="container">
        <div class="row no-gutters justify-content-center">
            <div class="col-12 col-md-8 col-lg-auto align-items-center d-flex">
                <div class="jumbotron pl-0 pr-0 pl-lg-2 pr-lg-2">
                    <h1 class="mb-5">Portal de <by>  Documentación</h1>
                    <p class="mb-5">Bienvenido al portal de documentación para usuarios de los productos Aranda</p>
                    <div class="row no-gutters">
                        <div class="col">
                            <div class="form-group input-group-lg mb-2">
                               <input typ id="formulario" class="form-control" placeholder="Busca documentos"/>
                                <a  class="cerrar" href="http://127.0.0.1:4000/aranda-docs-theme/"></a>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button id="Buscar"  type="submit" class="btn btn-lg btn-outline-primary --white mb-2 ml-3">Buscar</button>
                        </div>
                    </div>
            
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg d-flex align-items-center">
                <!-- HERO IMAGE -->
                <img src="assets/images/hero-char.svg" alt="hero char" class="ar-header-hero__char">
            </div>
        </div>
        <ul  class="demo" class="form-control col-md-5" id="demo"></ul> <br>
    </div>
</section>

<script>
    
let manual1=
[     
        // Manual de uso Versión 9.5
    {
        "manual":"Manual de uso Versión 9.5",
        "titulo": "Requisitos de hardware y software",
        "abstract" :"Requisitos  de hardwarey software, puertos utilizados por la aplicacion, permisos adicionales, exclusiones requeridos en el antivirus, servicios de licenciamiento",
        "url" : "https://aranda-poc-docs.azureedge.net/adm/pages/requisitos/01-Requisitos%20de%20hardware%20y%20software.html"   
    },

   {
       "manual":"Manual de uso Versión 9.5",
        "titulo" :"Funcionalidades y componentes",
        "abstract": "Funcionalidades y componentes",
        "url": "https://aranda-poc-docs.azureedge.net/adm/pages/funcionalidades/01-funcionalidades_y_componentes.html"
    },

   {
       "manual":"Manual de uso Versión 9.5",
        "titulo" : "Obtencion y procesamiento de inventarios",
        "abstract" : "Obtencion y procesamiento de inventarios",
        "url" : "https://aranda-poc-docs.azureedge.net/adm/pages/inventarios/01-obtencion_y_procesamiento_de_inventarios.html"
    },

   {
       "manual":"Manual de uso Versión 9.5",
        "titulo" :"Instalacion",
        "abstract" :"Instalacion  de la consola de ADM, instalacion de conservers, instalacion de agente en windows, instalacion de visor de soporte remoto",
        "url" :"https://aranda-poc-docs.azureedge.net/adm/pages/instalacion/01-instalacion_de_la_consola_adm.html"
    },

   {
       "manual":"Manual de uso Versión 9.5",
        "titulo" :"Licenciamiento",
        "abstract" : "Licenciamiento",
        "url" : "https://aranda-poc-docs.azureedge.net/adm/pages/licenciamiento/01-licenciamiento.html"
    },

   {
       "manual":"Manual de uso Versión 9.5",
        "titulo" : "Configuracion",
        "abstract" : "Generales, credenciales, comunicaciones,  perfil agente, catalogo de aplicaciones, paquetes, medicion, campos adicionales",
        "url" : "https://aranda-poc-docs.azureedge.net/adm/pages/configuracion/01-generales.html"
    },

   {
       "manual":"Manual de uso Versión 9.5",
        "titulo" :  "Inventario",
        "abstract" : "Inventario, acciones, pantalla de detalles del dspositivo, hardware",
        "url" :  "https://aranda-poc-docs.azureedge.net/adm/pages/inventario/01-inventario.html"
    },

   {
       "manual":"Manual de uso Versión 9.5",
        "titulo" : "Software",
        "abstract" : "Software, mini dashboard, creacion de un item del catalogo de software, pantalla de detalles de software, acciones , obtener inventario, tipo de filtro, configuracion, distrbucion  manual, agente",
        "url" : "https://aranda-poc-docs.azureedge.net/adm/pages/software/01-software.html"
    },

   {
       "manual":"Manual de uso Versión 9.5",
        "titulo" : "Politicas",
        "abstract" : "Politicas, cofiguracion de energia, restricciones, aplicaciones,energia",
        "url": "https://aranda-poc-docs.azureedge.net/adm/pages/politicas/01-politicas.html"
    },

   {
       "manual":"Manual de uso Versión 9.5",
        "titulo":"Reglas",
        "abstract":"Reglas",
        "url":"https://aranda-poc-docs.azureedge.net/adm/pages/reglas/reglas.html"
    },

   {
       "manual":"Manual de uso Versión 9.5",
        "titulo" : "Reportes",
        "abstract" : "Reportes",
        "url" : "https://aranda-poc-docs.azureedge.net/adm/pages/reportes/01-reportes.html"
    },
    
    //aranda shealth report
    {
       "manual":"Aranda Health Report",
        "titulo" : "Aranda Health Report",
        "abstract" : "Aranda Health Report",
        "url" : "https://aranda-poc-docs.azureedge.net/aer/"
    },

    {
       "manual":"Aranda Health Report",
        "titulo" : "Prerrequisitos",
        "abstract" : "Requisitos",
        "url" : "https://aranda-poc-docs.azureedge.net/aer/pages/prerrequisitos/01-prerrequisitos.html"
    },

    {
       "manual":"Aranda Health Report",
        "titulo" : "Instalacion y Configuración",
        "abstract" : "Requisitos",
        "url" : "https://aranda-poc-docs.azureedge.net/aer/pages/configuracion/01-instalaci%C3%B3n%20y%20configuraci%C3%B3n.html"
    },
    
    {
       "manual":"Aranda Health Report",
        "titulo" : "Instalacion y Configuración",
        "abstract" : "Requisitos",
        "url" : "https://aranda-poc-docs.azureedge.net/aer/pages/configuracion/01-instalaci%C3%B3n%20y%20configuraci%C3%B3n.html"
    },
    
    {
       "manual":"Aranda Health Report",
        "titulo" : "Uso",
        "abstract" : "Reportando el estado de salud",
        "url" : "https://aranda-poc-docs.azureedge.net/aer/pages/uso/01-uso.html"
    },
    //aranda shealth report manual de uso 
    {
       "manual":"Aranda shealth report  manual de uso",
        "titulo" : "Preparacion",
        "abstract" : "Capsula -motor sql",
        "url" : "https://aranda-poc-docs.azureedge.net/asdk/pages/preparacion/01-Capsula%20-%20motor%20sql.html"
    },

    {
       "manual":"Aranda shealth report manual de uso",
        "titulo" : "Prerrequisitos",
        "abstract" : "Prerequisitos ASDK",
        "url" : "https://aranda-poc-docs.azureedge.net/asdk/pages/prerrequisitos/01-prerequisitos%20.html"
    },

    {
       "manual":"Aranda shealth report manual de uso",
        "titulo" : "Prerrequisitos",
        "abstract" : "Descaga fuente de instalacion",
        "url" : "https://aranda-poc-docs.azureedge.net/asdk/pages/prerrequisitos/01-prerequisitos%20.html"
    },

    {
       "manual":"Aranda shealth report manual de uso",
        "titulo" : "Parametrizacion incial",
        "abstract" : "Config ADS Syng, config,config aranda etting, configsetting DB manager,config settings notifsrv correo, config sitios afs DBConf, config AWCF",
        "url" : "https://aranda-poc-docs.azureedge.net/asdk/pages/prerrequisitos/01-prerequisitos%20.html"
    },

    {
       "manual":"Aranda shealth report manual de uso",
        "titulo" : "Proyecto",
        "abstract" : "Prerequisitos ASDK",
        "url" : "https://aranda-poc-docs.azureedge.net/asdk/pages/proyecto/01-prerequisitos%20.html"
    },

    //aranda fiel services 

    {
       "manual":"Aranda field Service",
        "titulo" : "Que es aranda FIELD SERVICE",
        "abstract" : "requisitos De hardware y software,requisitos en los dispositivos moviles",
        "url" : "https://aranda-poc-docs.azureedge.net/afls/pages/que_es/01-requerimientos_de_hardware_y_software.html"
    },

    {
       "manual":"Aranda field Service",
        "titulo" : "Que puede hacer en aranda FIELD SERVICE",
        "abstract" : "que puedo hacer Aranda FIELD SERVICE por mi negocio, que puede  hcaer aranda FIELD SERVICE por el administrador, que puede hacer aranda FIELD SERVICE por el despachador",
        "url" : "https://aranda-poc-docs.azureedge.net/afls/pages/afls/01-que_puede_hacer_aranda_field_service_por_mi_negoci.html"
    },

    {
       "manual":"Aranda field Service",
        "titulo" : "  basicos de aranda FIELD SERVCE",
        "abstract" : "orden de trabajo, ciclo de vida  de una orden de trabajo, acuerdos de nivel de servicio (SLA), administrador,despachador, monitor especilaistas en campo",
        "url" : "https://aranda-poc-docs.azureedge.net/afls/pages/conceptos/01-orden_de_trabajo.html"
    },

    {
       "manual":"Aranda field Service",
        "titulo" : "Utilizando ARANDAFIELD SERVICE",
        "abstract" : "pantalla de accesos (login), modificaciones datos de perfil ,seguridad de la cuenta",
        "url" : "https://aranda-poc-docs.azureedge.net/afls/pages/conceptos/01-orden_de_trabajo.html"
    },    

    {
       "manual":"Aranda field Service",
        "titulo" : "Configurando aranda FIELD SERVICE",
        "abstract" : "configuraciones necesarias con el rol administrador,configuracion de licenciamiento, configuracion de acuerdos  de nvel de servicio (SLA),configuracion  de acuerdos de niveles operariosnales (OLA)",
        "url" : "https://aranda-poc-docs.azureedge.net/afls/pages/configurando/01-configuracion_necesaria_con_rol_administrador.html"
    },    

    {
       "manual":"Aranda field Service",
        "titulo" : "Panel de control AFLS",
        "abstract" : "panel de control de AFLS,ordenes de trabajo para hoy , especialistas, demanda  de trabajo por semana",
        "url" : "https://aranda-poc-docs.azureedge.net/afls/pages/panel/01-panel_de_control_afls.html"
    },    

    {
       "manual":"Aranda field Service",
        "titulo" : "Gestionando ordenes en AFLS",
        "abstract" : "gestionando órdenes en AFLS, cracion de ordenes trabajo,buscar ordenes de trabajo  en aranda FIELD SERVICE,filtrando y ordenando la consulta,modificacion una orden  de trabajo",
        "url" : "https://aranda-poc-docs.azureedge.net/afls/pages/gestionando/01-gestionando_ordenes_en_afls.html"
    }, 

    {
       "manual":"Aranda field Service",
        "titulo" : "Inventario en aranda  FIELD SERVICE",
        "abstract" : "inventario en aranda FIELD SERVICE,movimiento de inventario, buscador de inventario , asignacion de inventario , devolucion  de inventarios ",
        "url" : "https://aranda-poc-docs.azureedge.net/afls/pages/inventario/01-inventario%20en_afls.html"
    },
    
    {
       "manual":"Aranda field Service",
        "titulo" : "generando reportes en aranda FIELD SERVICE",
        "abstract" : "Generando reportes en aranda FIELD SERVICE,reportes de orndenes, reportes de inventarion ,reportes generales, reportes de administracion ",
        "url" : "https://aranda-poc-docs.azureedge.net/afls/pages/generando/01-generando_reportes_en_afls.html"
    }, 

    {
       "manual":"Aranda field Service",
        "titulo" : "Monitoreo de ordenes de trabajo en aranda FIELDSERVICE",
        "abstract" : "monitoreo  de ordenes de trabajo en aranda FIELD SERVICE, monitoreo especialista(busqueda y seguimiento  de especialista  en campo), monitoreo de clientes, monitoreo de planeacion y porgramacion  de ordenes, reasignar ordenes  de trabajo ",
        "url" : "https://aranda-poc-docs.azureedge.net/afls/pages/monitoreo/01-monitoreo_de_ordenes_de_trabajo_afls.html"
    }, 

    {
       "manual":"Aranda field Service",
        "titulo" : "Alertas en aranda FIELD SERVICE",
        "abstract" : "alertas en aranda  FIELD SRVICE,filtrado las alertas de proveedores ,filtrado las alertas generales",
        "url" : "https://aranda-poc-docs.azureedge.net/afls/pages/alertas/01-alertas_en_afls.html"
    }, 

    {
       "manual":"Aranda field Service",
        "titulo" : "Ingresando a la  consolas movil de FIELD SERVICE",
        "abstract" : "ingresando a la consola movil de FIELD SERVICE, autenticacion en la aplicacion moviles,consultando las ordenes de trabajo en la cosola movil",
        "url" : "https://aranda-poc-docs.azureedge.net/afls/pages/ingresando/01-ingresando_a_la_consola_m%C3%B3vil%20de_afls.html"
    }, 

    {
       "manual":"Aranda field Service",
        "titulo" : "Glosario de terminos de aranda FIELD SERVCE",
        "abstract" : "glosario de terminos de aranda FIELD SERVICE",
        "url" : "https://aranda-poc-docs.azureedge.net/afls/pages/glosario/01-glosario_de_terminos_de_aranda_field_service.html"
    }, 

    //aranda virtual suppory
    {
       "manual":"Aranda virtual  support",
        "titulo" : "Intalacion servidor",
        "abstract" : "requerimientos, instalacion, configuracion",
        "url" : "https://aranda-poc-docs.azureedge.net/avs/docs/instalacion-servidor/requerimientos/"
    }, 

    {
       "manual":"Aranda virtual  support",
        "titulo" : "Intalacion cliente",
        "abstract" : "requerimientos, instalacion consola , configuracion consola instalacion agente, configuracion agente",
        "url" : "https://aranda-poc-docs.azureedge.net/avs/docs/instalacion-cliente/requerimientos/"
    }, 

    {
       "manual":"Aranda virtual  support",
        "titulo" : "Funcionalidad",
        "abstract" : "consola, agente",
        "url" : "https://aranda-poc-docs.azureedge.net/avs/docs/funcionalidad/consola/"
    }, 

    //aranda database tools
    {
       "manual":"Aranda database tools",
        "titulo" : "Requisitos",
        "abstract" : "requisitos para la instalacion, requisitos en base de datos sql",
        "url" : "https://aranda-poc-docs.azureedge.net/adbt/pages/requisitos/01-Requisitos%20para%20la%20instalaci%C3%B3n.html"
    }, 

    {
       "manual":"Aranda database tools",
        "titulo" : "Instalacion",
        "abstract" : "instalacion de DBTools",
        "url" : "https://aranda-poc-docs.azureedge.net/adbt/pages/instalacion/01-instalacion%20DBTools%20.html"
    }, 

    {
       "manual":"Aranda database tools",
        "titulo" : "Modulos de aranda Database Tools",
        "abstract" : "packages(paquetes), connetion string (cadena de conexion),services(servicios)",
        "url" : "https://aranda-poc-docs.azureedge.net/adbt/pages/modulos/01-Packages%20(paquetes).html"
    }, 

    {
       "manual":"Aranda database tools",
        "titulo" : "Solucion de paquetes ",
        "abstract" : "descargas de paquetes, despliegue de base de datos",
        "url" : "https://aranda-poc-docs.azureedge.net/adbt/pages/problemas/01-Descarga%20de%20paquetes.html"
    }, 

]


    let formulario = document.getElementById('formulario');
    let Buscar = document.getElementById('Buscar');
    let demo = document.getElementById('demo');

    formulario.onkeyup=fil;

    buscar.onclick=fil; 
    


    function fil(){
        demo.innerHTML="";
        // alert(formulario.Value);
        let formularioMin=formulario.value.toLowerCase();
        for(var i=0; i <manual1.length;i++){
            let manual1Min=manual1[i].abstract.toLowerCase();  
       
            if(manual1Min.indexOf(formularioMin) !== -1) {
                demo.innerHTML+='<li> <h3> '+manual1[i].titulo+'</h3> <h5> '+ manual1[i].manual+'</h5><p>'+ manual1[i].abstract+'</p> <a href='+ manual1[i].url+'>'+ manual1[i].url+'</a></li>'
            }
        }
    }
    demo.innerHTML="";
</script>
