<section class="ar-header-hero">
    <div class="container">
        <div class="row no-gutters justify-content-center">
            <div class="col-12 col-md-8 col-lg-auto align-items-center d-flex">
                <div class="jumbotron pl-0 pr-0 pl-lg-2 pr-lg-2">
                    <h1 class="mb-5">Portal de <br>Documentación</h1>
                    <p class="mb-5">Bienvenido al portal de documentación para usuarios de los productos Aranda</p>
                    <form action="">
                        <div class="row no-gutters">
                            <div class="col">
                                <div class="form-group input-group-lg mb-2">
                                    <input type="search" class="form-control" placeholder="Busca documentos"/>
                                </div>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-lg btn-outline-primary --white mb-2 ml-3">Buscar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg d-flex align-items-center">

                <!-- HERO IMAGE -->
                <img src="assets/images/hero-char.svg" alt="hero char" class="ar-header-hero__char">

            </div>
        </div>
    </div>
</section>
