<section class="ar-section --white" target="productos">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="ar-section-heading">Productos de Aranda Software</h1>
            </div>
        </div>
        <div class="ar-section__content">
            <div class="ar-services-container">
                <div class="row no-gutters">

                    {% for item in site.data.catalog.catalog %}
                    <div class="col-4">
                        <div class="ar-badge-service --gray --touch" data-overlay="{{ item.overlay.name }}" data-bg-color="{{ item.color }}">
                            <div class="ar-badge-service__icon {{ item.icon }}"></div>
                            <div class="ar-badge-service__description">
                                <h1>{{ item.title }}</h1>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                {% for item in site.data.catalog.catalog %}
                <div class="ar-badge-service__overlay" id="overlay-{{ item.overlay.name }}">
                    <button class="overlay__close"></button>
                    <div class="overlay-content h-100">
                        <div class="row d-flex h-100">
                            <div class="col-5">
                                <div class="ar-badge-service --white">
                                    <div class="ar-badge-service__icon {{ item.icon }}"></div>
                                    <div class="ar-badge-service__description">
                                        <h1>{{ item.title }}</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="row">
                                {% for manual in item.overlay.items %}
                                    <div class="col-6 mb-3">
                                        <a class="overlay-list__item" href="{{ manual.link }}">{{ manual.text }}</a>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>
