<section class="ar-section --gray" target="contacto">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="ar-section-heading">Déjanos tus comentarios</h1>
            </div>
        </div>
        <div class="ar-section__content">
            <form action="">
                <div class="row">
                    <div class="col-12 col-md-6 mb-2">
                        <div class="form-group input-group-lg">
                            <input class="form-control" type="text" title="Nombre" placeholder="Nombre..."/>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-2">
                        <div class="form-group input-group-lg">
                            <input class="form-control" type="email" title="Correo Electrónico"
                                   placeholder="Correo electrónico"/>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-2">
                        <div class="form-group input-group-lg">
                            <input class="form-control" type="tel" title="Número telefónico"
                                   placeholder="Número telefónico"/>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-2">
                        <div class="form-group input-group-lg">
                            <input class="form-control" type="text"/>
                        </div>
                    </div>
                    <div class="col mb-2">
                        <div class="form-group input-group-lg">
                            <textarea class="form-control" placeholder="Comentarios" title="Comentarios"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-4">
                        <button class="btn btn-primary btn-cta w-100">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
