
<div class="row">
    <div class="col-12 col-lg">
        <div class="solid-box --orange">
            <div class="ar-badge-service --white --inline justify-content-center d-flex">
                <div class="ar-badge-service__icon  {{ news.icon }} --big"></div>
                <div class="ar-badge-service__description">
                    <h1>Aranda</h1>
                    <h2>{{ news.product }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg">
        <div class="solid-box --aqua">
            <div class="ar-badge-service --white --inline">
                <div class="ar-badge-service__icon {{ news.icon }}"></div>
                <div class="ar-badge-service__description">
                    <h1>Aranda</h1>
                    <h2>{{ news.product }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg">
        <div class="solid-box --violet --cta">
            <a href="javascript:;" class="w-100 h-100 align-items-center justify-content-center d-flex">Conoce más</a>
        </div>
    </div>
</div>
</div>
</section>
