<section class="ar-section --gray">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="ar-section-heading">Nuevo</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="solid-box --hero --blue">
                    <div class="row">
                        <div class="col">
                            <div class="ar-badge-service --white">
                                <div class="ar-badge-service__icon --health-support"></div>
                                <div class="ar-badge-service__description">
                                    <h1>Aranda</h1>
                                    <h2>Health Report</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <p class="lead">Es la aplicación que ponemos a tu disposición para promover el monitoreo y
                                la atención oportuna ante cualquier afectación del estado de salud de tus
                                trabajadores.</p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8 col-lg-4">
                            <button class="btn btn-primary btn-cta w-100 --orange">Más información</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg">
                <div class="solid-box --orange">
                    <div class="ar-badge-service --white --inline justify-content-center d-flex">
                        <div class="ar-badge-service__icon --service-desk"></div>
                        <div class="ar-badge-service__description">
                            <h1>Aranda</h1>
                            <h2>Health Report</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg">
                <div class="solid-box --aqua">
                    <div class="ar-badge-service --white --inline">
                        <div class="ar-badge-service__icon --field-services"></div>
                        <div class="ar-badge-service__description">
                            <h1>Aranda</h1>
                            <h2>Health Report</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg">
                <div class="solid-box --violet --cta">
                    <a href="javascript:;" class="w-100 h-100 align-items-center justify-content-center d-flex">Conoce más</a>
                </div>
            </div>
        </div>
    </div>
</section>
