
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    function scrollTop() {

        if (!window.location.hash) {

            return;

        }

        console.log('[target="' + window.location.hash.replace('#!/', '') + '"]');

        let $target = $('[target="' + window.location.hash.replace('#!/', '') + '"]');

        $('html').animate({
            scrollTop: $target.length ? $target.position().top : 0
        });



    }

    $(document).on('click', '[data-overlay]', function () {

        let $this = $(this);
        let bgColor = $this.attr('data-bg-color');
        let $overlay = $('[id="overlay-' + $this.attr('data-overlay') + '"]').css('background-color', bgColor);

        $overlay.fadeIn();

    });

    $(document).on('click', '[id^="overlay-"] .overlay__close', function () {

        $(this).closest('[id^="overlay-"]').fadeOut();

    });

    scrollTop();

    window.onhashchange = function () {

        scrollTop();

    }

</script>
